body {
    background-color: white;
    font-family: 'ageo_personal_uselight', 'Kanit', sans-serif;
    overflow: auto;
}

@font-face {
    font-family: 'my_kids_handwrittenregular';
    src: url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.eot');
    src: url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.eot?#iefix') format('embedded-opentype'), url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.woff2') format('woff2'), url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.woff') format('woff'), url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.ttf') format('truetype'), url('/MyKidsHandwrittenRegular/my_kids_handwritten-webfont.svg#my_kids_handwrittenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ageo_personal_uselight';
    src: url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.eot');
    src: url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.eot?#iefix') format('embedded-opentype'), url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.woff2') format('woff2'), url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.woff') format('woff'), url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.ttf') format('truetype'), url('/webfontkit-20201008-015011/ageopersonaluse-light-webfont.svg#ageo_personal_uselight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_monoregular';
    src: url('/spacemono/spacemono-regular-webfont.eot');
    src: url('/spacemono/spacemono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/spacemono/spacemono-regular-webfont.woff2') format('woff2'), url('/spacemono/spacemono-regular-webfont.woff') format('woff'), url('/spacemono/spacemono-regular-webfont.ttf') format('truetype'), url('/spacemono/spacemono-regular-webfont.svg#space_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'waffle_lightregular';
    src: url('/Waffle/waffle_light-webfont.eot');
    src: url('/Waffle/waffle_light-webfont.eot?#iefix') format('embedded-opentype'), url('/Waffle/waffle_light-webfont.woff2') format('woff2'), url('/Waffle/waffle_light-webfont.woff') format('woff'), url('/Waffle/waffle_light-webfont.ttf') format('truetype'), url('/Waffle/waffle_light-webfont.svg#waffle_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.col-auto {
    margin: auto;
}

.bot-bar {
    position: relative; 
    margin-top: 182px;
    width: 100%;
    height: 107px;
    background: #1C3C25;
    font-family: 'space_monoregular';
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

#navbar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: top 0.3s;
    z-index: 3;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #fc9885;
}

#navbar span {
    float: left;
    display: inline-block;
    color: #fc9885;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}

#navbar span#profile-icon {
    font-size: 18px;
    color: #454545;
    font-weight: 400;
    padding: 5px;
}

#navbar span.icon {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.botbar-data {
    font-size: 14px;
    font-weight: 400;
    margin-top: -6px;
    padding-top: -5px;
    line-height: 0.75;
}

.botbar-data h1 {
    font-size: 14px;
    line-height: 0.25;
}

.botbar-data a:visited {
    color: #8E8E8E;
    text-decoration: none;
}

.botbar-data a:hover {
    text-decoration: underline;
    color: #8E8E8E;
}

.botbar-data a {
    color: #8E8E8E;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #D9EDE7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding-block: 8px 8px 8px 32px;
    margin: 30px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.5s;
    border: 1px;
    width: 220px;
    border-radius: 10px;
    background: #A5B59C;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.8s;
    padding: 15px;
}

#backgroundimg {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: block;
    background-image: url(/pic/background01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'ageo';
}

.headermainpage {
    font-family: 'space_monoregular';
    font-size: 60px;
    color: white;
    margin-top: 200px;
    text-align: center;
    letter-spacing: 10px;
}

.headerlogin {
    font-family: 'space_monoregular';
    font-size: 60px;
    color: #235330;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 3px;
}

.search {
    width: 787px;
    margin-top: 100px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 80px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 30px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 80px;
    width: 130px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1c3c25;
    font-size: 30px;
    bottom: 85px;
    position: relative;
    border-radius: 5px
}

.stupid-line {
    position: absolute;
    width: 40%;
    height: 0px;
    left: 3%;
    top: 50px;
    border: 0.1px solid #1C3C25;
}

.stupid-line2 {
    position: absolute;
    width: 42%;
    height: 0px;
    right: 2%;
    top: 50px;
    border: 0.1px solid #1C3C25;
}

.stupid-line3 {
    position: absolute;
    width: 600px;
    height: 0px;
    top: 300%;
    left: 30%;
    border: 0.1px solid #1C3C25;
    transform: rotate(90deg) translate(-50%, -50%);
    margin-bottom: 200px;
}

.stupid-linetrip {
    display: inline-block;
    width: 150px;
    height: 0px;
    border: 1px solid #646464;
    transform: rotate(90deg);
    margin-top: 20px;
}

.login-logo img {
    position: absolute;
    width: 171px;
    height: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.forgotbox input {
    background-color: #eaeaea;
    color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    mix-blend-mode: normal;
    border-radius: 15px;
    align-items: center;
    width: 347px;
    height: 42.9px;
    border: none;
}

.forgotbtu input {
    display: inline-block;
    align-items: center;
    width: 139px;
    height: 51px;
    margin-top: 35px;
    background: #515151;
    border-radius: 18px;
    font-style: normal;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: white;
    margin-left: 100px;
}

.confirm-header {
    font-size: 24px;
    color: black;
    text-align: center;
    line-height: 28px;
    padding: 5px;
}

.confirm-img img {
    box-sizing: content-box;
    width: 136px;
    height: 134px;
}

.confirm-content {
    text-align: center;
    margin: 20;
    padding: 5 px;
}

.confirm-username {
    font-size: 20px;
    line-height: 24px;
    color: black;
    font-weight: bold;
}

.confirmbtu input {
    display: inline-block;
    align-items: center;
    width: 164px;
    height: 39px;
    margin-top: 35px;
    background: #fff;
    border: 1px solid rgba(235, 235, 235, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #445cb0;
    position: relative;
    left: 115px;
}

.loginbox input {
    background-color: rgba(4, 134, 253, 0.5);
    color: rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    mix-blend-mode: normal;
    border-radius: 15px;
    align-items: center;
    width: 347px;
    height: 42.9px;
}

.registerinfomation input {
    background-color: rgba(4, 134, 253, 0.5);
    color: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: 15%;
    backdrop-filter: blur(4px);
    mix-blend-mode: normal;
    border-radius: 15px;
    align-items: center;
    width: 347px;
    height: 42.9px;
}

.registerinfomation select {
    background-color: rgba(4, 134, 253, 0.5);
    color: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: 15%;
    backdrop-filter: blur(4px);
    mix-blend-mode: normal;
    border-radius: 15px;
    align-items: center;
    width: 347px;
    height: 42.9px;
}

.register-checkbox {
    padding-left: 10px;
}

.loginbtu {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 139px;
    height: 51px;
    background: rgba(255, 0, 0, 0.9);
    border-radius: 18px;
    font-style: normal;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: white;
}

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #1C3C25;
    height: 400px;
  }
  
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #1C3C25;
    border-radius: 50%;
    padding: 8px 10px;
  }

.login-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registerbtu {
    width: 139px;
    height: 51px;
    margin-left: 35%;
    margin-top: 35px;
    background: #515151;
    border-radius: 18px;
    font-style: normal;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: white;
}

.registerbtu a:hover {
    color: white;
}

.registerbtu a:link {
    color: white;
}

.optionpassword {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    color: rgba(5, 0, 255, 0.5);
}

#headloginpage {
    height: 130px;
    width: 100%;
    position: relative;
}

.search-icon:hover {
    color: #fff !important
}

#cardpic {
    margin: 150px;
}

#iconrecommend {
    padding: 20px;
}

.card-body a {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.quote {
    float: right;
    margin-right: 30px;
    font-size: 18px;
}

.bigquote {
    width: 100%;
    font-family: 'space_monoregular';
    margin-top: 230px;
    background: #fafafa;
    height: 226px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 64px;
    text-align: center;
    padding: 65px;
    color: #3c3c3c;
}

tr img{
    padding: 10px 20px;
}

.imgshow {
    margin-top: 150px;
}

.imgshow2 {
    overflow: hidden;
}

.content {
    margin-bottom: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

#rightshowimg {
    padding-left: 100px;
}

.content-1 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.content-2 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
}

.content-3 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #5A5A5A;
}

.content-4 {
    font-family: 'Kanit';
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: rgba(77, 53, 49, 0.71);
}

.icon-bot {
    margin-top: -100px;
    float: right;
}

.loginbar {
    margin-top: 10px;
}

.header-website {
    font-size: 65px;
    color: #1c3c25;
}

.header-trip {
    margin-top: 120px;
    margin-bottom: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 71px;
    text-align: center;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: none;
}

.header-trip input {
    text-align: center;
}

.day {
    font-size: 1vw;
    width: 50%;
    display: inline;
    position: absolute;
    left: 1%;
}

.daytrip {
    position: fixed;
    left: 49px;
    top: 173px;
    width: 49px;
    height: 160px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    z-index: 1;
}
#writeday {
    position: relative;
    right: 30%;
    margin-bottom: 30px;
}

#writeday input{
    border: none;
    border-bottom: 1px solid;
}

.daytrip a {
    text-decoration-line: underline;
    color: #646464;
}

.daytrip a:hover {
    color: #646464;
}

.tripblock {
    font-weight: normal;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
    color: #646464;
}

.tripblock .row {
    margin-bottom: 50px;
}

.comment {
    margin-top: 200px;
}

.commentbox {
    width: 70%;
    margin-left: 30px;
    height: 232px;  
    background: #F8FDFB;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.tagbox {
    width: 20%;
    height: 50px;
    background: #F7F5F5;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px 20px;
    
}

.tag a {
    position: relative;
    font-size: 18px;
    text-align: center;
    color: #CDCDCD;
    margin: 60px 20px;
}

.place {
    font-size: 3vw;
    line-height: 3vw;
    display: block;
    padding-bottom: 1vw;
}

.reviwe-btu {
    width: 135px;
    height: 42px;
    justify-content: center;
    background: #1C3C25;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    color: #CDCDCD;

}

.reviwe a {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
}

.reviwe {
    position: relative;
    bottom: 0px;
}

.timetrip {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 14px;
    width: 60px;
    height: 14px;
    color: #646464;
}

.timetrip input {
    width: 60px !important;
}

#edit-trip input {
    border: none;
    border-bottom: 1px solid;
    width: 50%;
    font-size: 2vw;
}


.add-cover input {
	width: 119px;
	height: 28px;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.inputfile-cover+label{
    width: 119px;
    height: 28px;
    background: rgba(161, 117, 255, 0.85);
    border-radius: 20px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color : white;
    cursor: pointer;
    text-align: center;
}

.myDiv {
    display: none;
    padding: 10px;
}

#showOne {
    border: 1px solid red;
}

#showTwo {
    border: 1px solid green;
}

#showThree {
    border: 1px solid blue;
}

#showOne {
    color: red;
    border: 1px solid red;
    padding: 10px;
}

#showTwo {
    color: green;
    border: 1px solid green;
    padding: 10px;
}

#showThree {
    color: blue;
    border: 1px solid blue;
    padding: 10px;
}

textarea {
    font-size: 1vw !important;
    float: left;
    width: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.inputfile+label {
    font-size: 0.5em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: red;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.triptime input {
    width: 5vw;
    font-size: 1.5vw;
    overflow: auto;
}

#writeroot input {
    border: none;
    border-bottom: 1px solid;
}

.takeoutbtu {
    width: 13% !important;
    font-size: 1.5vw;
}

.addimgtrip {
    width: 80%;
    height: 10.5vw;
    background: #F4F1F1;
    border-radius: 10px;
    margin-left: 20%;
}

.addimgtrip-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.detail {
    line-height: 100px;
    margin-top: 10%;
    padding: 10px;
}

.emp-profile {
    padding: 3%;
    margin-top: 200px;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 180px;
    height: 183px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -50px;
    width: 165px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-edit-btn {
    margin-top: 20px;
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.content-2 a {
    text-decoration: none;
    color: #454545;
    font-size: 14 px;
    line-height: 29px;
}

.profile-tab p {
    color: #B19999;
}

.iconselect {
    display: none;
}

#myTabContent {
    margin-top: -120px;
    padding: 5px;
}

#myTabContent .row {
    border-bottom: 1px solid #454545;
    padding: 10px;
}

.alltrip-header {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-top: 200px;
    text-align: center;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.alltrip-add button {
    position: absolute;
    top: 300px;
    width: 105px;
    height: 38px;
    margin-left: 58px;
    background: #D9F5F7;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    border: 0px solid;
}

.alltrip-content {
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
}

.alltrip-btn {
    width: 134px;
    height: 46px;
    background: #1C3C25;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

.alltrip-img img {
    width: 415px;
    height: 277px;
}

.alltrip-nametrip {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.alltrip-add a {
    color: black;
}

.alltrip-add a:hover {
    color: white;
}

.alltrip-add button:hover {
    background-color: rgb(76, 168, 76);
}

.btn-google {
    color: #878787;
    background-color: white;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
    margin-top: 100px;
    margin-bottom: 40px;
    display: block;
}

.btn-addform {
    margin-bottom: 50px;
    padding: 10px;
}

.registerinfomation {
    display: inline-block;
    width: 500px;
    height: 509px;
    right: 1px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.register-grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 10%;
    justify-content: center;
}

.forgotbox {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 500px;
    height: 509px;
    right: 1px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20%;
}

.confirmbox {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 500px;
    height: 509px;
    right: 1px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20%;
}

@media screen and (max-height: 600px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .confirmbtu input {
        display: block;
        position: relative;
        left: 20%;
    }
    .forgotbtu input {
        display: block;
        position: relative;
        margin-left: 45px;
    }
    .forgotbox input[type="text"] {
        width: 250px;
        margin-left: auto;
    }
    .forgotbox input[type="email"] {
        width: 250px;
        margin-left: auto;
    }
}

@media screen and (max-width: 700px) {
    .header-website {
        position: relative;
        display: block;
        left: -100px;
        font-size: 30px;
    }
    .registerinfomation {
        display: block;
    }
    .stupid-line {
        width: 35%;
    }
    .stupid-line2 {
        width: 35%;
    }
}

@media screen and (max-width: 572px) {
    .registerinfomation {
        width: 500px;
    }
}
@media screen and (max-width:548px) {
    .comment .row{
        display: block;
        margin-bottom: 100px;
    }
    .tag a {
        margin:10px 10px;
        
    }
    .tagbox {
        height: 20px;
        padding: 2px 2px;
        margin-top: 20px;
    }
    .commentbox {
        position: relative;
        top: 50px;
    }
    .comment {
        margin-left: 0;
    }
    .reviwe a .reviwe-btu{
        margin-left: 30%;
        margin-top: 50px;
        margin-bottom: -100px;
    }
}

@media screen and (max-width: 768px) {
    .side-bg {
        display: none;
    }
    .loginbar {
        display: none;
    }
    .icon {
        position: absolute;
        top: 0;
        margin-left: 20vw;
    }
    .header-website {
        position: relative;
        display: block;
        left: -100px;
        font-size: 35px;
    }
    .data-slide #container {
        height: 5vw;
        display: inline-block;
        width: 100%;
        height: 360px;
        left: -50px;
    }
    #loginpage .optionpassword {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 509px) {
    .registerinfomation .content-4 {
        font-size: 20px;
    }
    .registerinfomation input {
        margin-top: 15px;
        margin-left: 10%;
        backdrop-filter: blur(4px);
        mix-blend-mode: normal;
        border-radius: 15px;
        align-items: center;
        width: 250px;
        height: 30px;
    }
    .registerinfomation select {
        margin-top: 15px;
        backdrop-filter: blur(4px);
        mix-blend-mode: normal;
        border-radius: 15px;
        align-items: center;
        width: 250px;
        height: 30px;
        margin-left: 10%;
    }
    .registerinfomation {
        width: 320px;
        height: 340px;
    }
    .registerbtu {
        width: 80px;
        height: 31px;
        margin-left: 39%;
        margin-top: 10px;
        border-radius: 18px;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    .confirmbox {
        width: 100%;
    }
    .forgotbox {
        width: 100%;
    }
}

@media screen and (max-width: 3400px) {
    .loginbar {
        position: fixed;
        right: 0;
    }
}

@media screen and (max-width: 1919px) {
    .loginbar {
        position: fixed;
        right: -5px;
    }
}

@media screen and (max-width: 1627px) {
    .loginbar {
        position: relative;
        right: -250px;
    }
}

@media screen and (max-width: 1450px) {
    .loginbar {
        position: relative;
        right: -180px;
    }
}

@media screen and (max-width: 1430px) {
    .addimgtrip {
        height: 137px;
    }
}

@media screen and (max-width: 1334px) {
    .loginbar {
        position: relative;
        right: -140px;
        top: 0px;
    }
    .bigquote {
        font-size: 30px;
    }
}

@media screen and (max-width: 1188px) {
    .loginbar {
        position: relative;
        right: -35px;
        top: 0px;
    }
    .stupid-line3 {
        margin-left: -3.2%;
    }
}

@media screen and (max-width: 1100px) {
    .register-grid {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
    }
    .registerinfomation {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1024px) {
    .bigimg {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .loginbar {
        position: relative;
        right: 18px;
        top: 0px;
    }
    .vl {
        display: none;
    }
    #loginpage .content-4 {
        margin-top: 100px;
    }
    .imgshow td {
        position: relative;
        display: flex;
        margin-top: 2vh;
        margin-left: 20%;
    }
    .imgshow th {
        position: relative;
        display: flex;
        width: 50%;
    }
    .login-btn {
        position: absolute;
        top: 150%
    }
    #loginpage .loginbtu {
        top: 120%;
        margin-bottom: 200px;
    }
    .login-1 {
        display: block;
        position: relative;
        top: 300%;
    }
    .login-2 {
        display: block;
        position: relative;
        top: -50%;
    }
}

@media screen and (max-width: 767px) {
    .bot-bar {
        height: auto;
        width: 100%;
        display: block;
    }
    .emp-profile {
        padding: 0px;
    }
    .edit-side {
        text-align: center;
    }
    .edit-side .content3{
font-size: 11px;    
}
    .profile-tab {
        margin-top: 10% !important;
    }
    .header-profile {
        position: relative;
        top: -230px;
    text-align: center;
    }
    .profile-img img{
    position: relative;
    justify-content: center;
    }
    .profile-img .file {
        display: block;
        margin: auto;
        margin-top: -50px; 
     }
}

@media screen and (max-width: 450px) {
    .card-text {
        font-size: 12px;
    }
    .card-title {
        font-size: 12px;
    }
    .quote {
        font-size: 12px;
        margin: -30px;
        margin-top: 30px;
    }
    .bigquote {
        font-size: 24px;
    }
    .card {
        width: 300px;
        margin-left: -90px;
    }
    .bigimg {
        display: none;
        margin-right: 20%;
    }
    .imgshow td {
        margin-left: -10px;
    }
    .search .search-input {
        font-size: 15px;
        margin-top: 0px;
        line-height: 50px;
    }
    .search {
        height: 49px;
    }
    .search-icon {
        font-size: 15px;
        height: 50px;
        width: 90px;
        margin-top: 35px;
    }
    .headermainpage {
        font-size: 35px;
    }
}

@media screen and (max-width: 390px) {
    #loginpage input {
        width: 80%;
    }
    #loginpage .loginbtu {
        width: 80px;
        height: 31px;
        border-radius: 18px;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    .headerlogin {
        font-size: 50px;
    }
}

@media screen and (max-width: 356px) {
    #cardpic {
        margin: 100px !important;
    }
    .botbar-data {
        font-size:9px !important;
    }
    .botbar-data h1{
        font-size:12px !important;
    }
}

@media screen and (max-width: 326px) {
    .icon img {
        width: 130px;
        height: 77px;
    }
}
